################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MIS442_Final Project_RFernandez/BitsEFClasses/mySqlSettings.json
